@(randomUser: RandomUser)

<!DOCTYPE html>
<html lang=""en">
<head>
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/actionPage.css")"/>

    <meta charset=""UTF-8>
    <title>Add New Employee</title>
</head>
<body>
@for(results <- randomUser.getResults){
<form method="POST" action="@routes.EmployeesController.addEmployee()" id="newEmployee">
    <fieldset>
        <legend>Add New Employee Details</legend>
        <div>
            <lable for="lastName" class="title">Last Name:</lable>
            <input type="text" name="lastName" value="@results.getName.getLast"/><br>
        </div>
        <div>
            <lable for="firstName" class="title">First Name:</lable>
            <input type="text" name="firstName" value="@results.getName.getFirst"/><br>
        </div>
        <button>Add Employee</button>
    </fieldset>


</form>
}
</body>
</html>