@(category: Categories)

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/actionPage.css")"/>
</head>
<body>

<form method="POST" action="@routes.CategoriesController.updateCategory()" id="updateCategory">
    <fieldset>
        <legend>Edit Category Details</legend>
        <div>
    <input type="hidden" name="categoryId" value="@category.categoryId"/><br>

            <lable for="name" class="title">Name:</lable>
    <input type="text" name="categoryName" value="@category.categoryName"/><br>
        </div>
        <div>
            <lable for="description" class="title">Description:</lable>
            <input type="text" name="description" value="@category.description"/><br>
        </div>
    <button>Save</button>
    </fieldset>
</form>
</body>
</html>