@(employee: Employees)

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/actionPage.css")"/>
</head>
<body>

<form method="POST" action="@routes.EmployeesController.updateEmployee()" id="updateEmployee">
    <fieldset>
        <legend>Edit Employee Details</legend>
        <div>
            <input type="hidden" name="employeeID" value="@employee.employeeID"/><br>
            <lable for="lastName" class="title">Last Name:</lable>
            <input type="text" name="lastName" value="@employee.lastName"/><br>
        </div>
        <div>
            <lable for="firstName" class="title">First Name:</lable>
            <input type="text" name="firstName" value="@employee.firstName"/><br>
        </div>
        <button>Save</button>
    </fieldset>
</form>
</body>
</html>